<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lightbox.css') }}">
    <title>{% block title %}POE Item Design{% endblock %}</title>
</head>

<body class="bgColor_darkExile">
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('poe1') }}">POE1</a>
        <a href="{{ url_for('poe2') }}">POE2(Empty)</a>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/lightbox-plus-jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>